body {
    background-color: aquamarine;
}

.introduction-to-website {
    justify-content: center;
    text-align: center;
    align-items: center;
    border-radius: 50px;
    width: 850px;
    position: relative;
    border: 2px solid #000;
    padding: 3rem 5rem;
    display: flex;
    flex-direction: column;
    gap: 40px;
    margin-left: auto;
    margin-right: auto;
}

.instructions {
    text-align: center;
    justify-content: center;
    align-items: center;
    padding: 3rem 5rem;
    border-bottom: 2px solid #000;
    width: 850px;
    margin-left: auto;
    margin-right: auto;
}

.search-bar {
    text-align: center;
    justify-content: center;
    align-items: center;
}

.pokemon-names{
    width: 100%;
    gap: 20px;
    display: grid;
    grid-template-columns: repeat(3,1fr);
  }

button {
    border: none;
    padding: 10px 20px;
    border-radius: 16px;
  }

 .charizard-button {
    background: linear-gradient(315deg, #A98FF3 50%, #EE8130 50%);
 } 

.charizard-button:hover
  {
      font-weight: bold;  
      background-image: url(img/charizard.jfif); 
      background-size: 100% 200%;
  
      -webkit-animation: Animation 5s ease infinite;
      -moz-animation: Animation 5s ease infinite;
      animation: Animation 5s ease infinite;
  }
  
  @-webkit-keyframes Animation {
      0%{background-position:10% 0%}
      50%{background-position:91% 100%}
      100%{background-position:10% 0%}
  }
  @-moz-keyframes Animation {
      0%{background-position:10% 0%}
      50%{background-position:91% 100%}
      100%{background-position:10% 0%}
  }
  @keyframes Animation { 
      0%{background-position:10% 0%}
      50%{background-position:91% 100%}
      100%{background-position:10% 0%}
  }
  
  